
.controlpage-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.teamlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamitem-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 10px;
}

.member-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.item-selected {
    background-color: lightblue;
}

.column-title-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 2px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #e6e7e8;
    font-size: 18px;
    font-weight: 600;
}

.filter-input {
    margin: 0px 2px;
    height: 34px;
    font-size: 14px;
    padding-left: 25px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}
.filter-container img {
    position: absolute;
    padding-left: 6px;
    width: 18px;
    opacity: 0.5;
}

input:focus{
    outline: none;
}

.item-shortlist-btn {
    width: 20px;
    margin: 10px;
    padding: 4px;
}
