.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 66px;
}
.logo-container {
    background-color: #e6e7e8;
    padding: 15px 30px;
}

.acct-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 2px;
}
.acct-btn-container:hover {
    background-color: #e6e7e8;
    border: 1px solid #282c34;
    border-radius: 3px;
}
.acct-btn-container img {
    width: 20px;
    height: 20px;
}

.acct-name-text {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px;
}
